@* SitefinityWebapp\Mvc\Views\BreakingNews\DesignerView.Fancy.cshtml *@

<div>
    <label>Date: </label>
    <input type="text" ng-model="properties.Date.PropertyValue" ng-change="buildBreakingNewsMessage()" />
</div>
<div>
    <label>Message: </label>
    <textarea rows="3" ng-model="properties.Message.PropertyValue" ng-change="buildBreakingNewsMessage()" />
</div>
<div>
    <label>Final Message: </label>
    <textarea rows="3" ng-model="properties.BreakingNewsMessage.PropertyValue" ng-disabled="true" />
</div>

<div>
    <sf-list-selector sf-news-selector sf-selected-item="selectedItem" >
        Customized Template
        <hr/>
        Selected: <span>{{sfSelectedItem.Title}}</span>
        <button class="openSelectorBtn" ng-click="open()">Select a breaking news item</button>
    </sf-list-selector>
</div>