<?xml version="1.0" encoding="utf-8"?>
<analyticsConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="9.0.6013.0">
	<Sites>
		<add SiteName="AdvancedDevCert" SiteId="917638b0-3ce6-432a-81fd-9ce2374afa62" />
	</Sites>
</analyticsConfig>