<?xml version="1.0" encoding="utf-8"?>
<forumsConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="9.0.6013.0">
	<notifications newPostNotificationTemplateId="64c687d5-6fcd-664f-8951-ff000085fce0" newThreadNotificationTemplateId="65c687d5-6fcd-664f-8951-ff000085fce0" />
</forumsConfig>