<?xml version="1.0" encoding="utf-8"?>
<newsConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="9.1.6113.0">
	<providers>
		<add title="CustomNewsProvider" applicationName="/CustomNews" type="SitefinityWebApp.Providers.CustomNewsProvider, SitefinityWebApp" enabled="True" name="CustomNewsProvider" />
	</providers>
</newsConfig>