<?xml version="1.0" encoding="utf-8"?>
<projectConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="9.1.6113.0" projectName="AdvancedDevCert" dateCreated="2016-05-06 09:02:57Z">
	<defaultSite id="917638b0-3ce6-432a-81fd-9ce2374afa62" name="Default" siteMapRootNodeId="f669d9a7-009d-4d83-ddaa-000000000002" />
</projectConfig>