@* SitefinityWebApp\Mvc\Views\Webinar\Index.cshtml *@

@model SitefinityWebApp.Mvc.Models.WebinarModel

<div>
    <label>Title: </label>
    <span>@Html.Raw(Model.Title)</span>
</div>

<div>
    <label>Description: </label>
    <span>@Html.Raw(Model.Description)</span>
</div>

<div>
    <label>Starting at: </label>
    <span>@Html.Raw(Model.Start.ToString())</span>
</div>

<div>
    <label>Ending at: </label>
    <span>@Html.Raw(Model.End.ToString())</span>
</div>
