<!-- SitefinityWebApp\ResourcePackages\DevMagazine\GridSystem\Templates\grey-section.html -->

<section class="section section--gray">
    <div class="row" data-sf-element="Row">
        <div class="sf_colsIn col-md-2" data-placeholder-label="Column One"></div>
        <div class="sf_colsIn col-md-2" data-placeholder-label="Column Two"></div>
        <div class="sf_colsIn col-md-2" data-placeholder-label="Column Three"></div>
        <div class="sf_colsIn col-md-2" data-placeholder-label="Column Four"></div>
        <div class="sf_colsIn col-md-2" data-placeholder-label="Column Five"></div>
        <div class="sf_colsIn col-md-2" data-placeholder-label="Column Six"></div>
    </div>
</section>